/* ============================================= NAVIGATION ======================================== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1274px;
  padding: 0 20px;
  gap: 20px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  width: 32px;
}

.logoText {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--Media-Hub-colour-Text-text--50, #fffeff);
  margin-top: 5px;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.navLink {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--Media-Hub-colour-Text-text--50, #fffeff);
  text-decoration: none;
}

.navLink:hover,
.navLink:focus {
  color: var(--Media-Hub-colour-primary-primary-300, #b66dff);
}

.active {
  color: var(--Media-Hub-colour-primary-primary-300, #b66dff);
  font-weight: 700;
}

.userControls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(65, 51, 75, 1);
  border-radius: 50%;
  padding: 10px;
}

.profileIcon {
  width: 100%;
  aspect-ratio: 1;
}

.settingsIcon {
  width: 50px;
  aspect-ratio: 1;
}

/*=============================================== TOGGLE COMPONENT ============================================*/

.contentSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41334b;
  width: 100%;
  margin-top: 21px;
  font-size: 12px;
  color: var(--Grey-neutral, #f9f9f9);
  font-weight: 500;
  text-align: center;
  line-height: 150%;
  padding: 8px 60px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: #11001e;
  border: 1px solid rgba(96, 84, 104, 1);
  border-radius: 4px;
}

.navItem,
.activeNavItem {
  font-family: Garute, sans-serif;
  margin: auto 0;
  padding: 8px 16px;
}

.activeNavItem {
  background: linear-gradient(270deg, #e14eff 4.37%, #a85aff 100%);
  border-radius: 4px;
}

/*===================================================== RECOMMENDATION SECTION ==================================*/

.recommendationsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-top: 32px;
  padding: 32px;
  border: 1px solid rgba(65, 51, 75, 1);
}

.recommendationsContainer .header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 600;
}

.headerTitle {
  color: var(--Media-Hub-colour-Text-text--50, #fffeff);
  font: 32px/75% Inter, sans-serif;
}

.seeAllLink {
  color: var(--Media-Hub-colour-Secondary-secondary-500, #ff604b);
  font: 20px/120% Inter, sans-serif;
}

.recommendationsGrid {
  display: flex;
  gap: 20px;
  margin-top: 24px;
  overflow-x: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: thin;  /* Firefox */
  scrollbar-color: #1e1e1e #000; /* scrollbar thumb and track color for Firefox */
}

.recommendationsGrid::-webkit-scrollbar {
  height: 8px;
}

.recommendationsGrid::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
  border-radius: 10px;
}

.recommendationsGrid::-webkit-scrollbar-track {
  background: #000;
}

/*===================================================== RECOMMENDATION CARD ======================================*/

.recommendationCard {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid rgba(65, 51, 75, 1);
  line-height: normal;
  cursor: pointer;
}

.recommendationImage {
  width: 100%;
  aspect-ratio: 1;
  box-shadow: 3px 8px 16px 0px rgba(176, 88, 255, 0.05);
}

.recommendationContent {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding: 0 16px;
}

.recommendationTitle {
  color: var(--Media-Hub-colour-Text-text--50, #fffeff);
  font-weight: 600;
  font-size: 20px;
  font-family: Inter, sans-serif;
  line-height: 120%;
}

.genreContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 4px;
  font-size: 14px;
  color: var(--Media-Hub-colour-Text-text--700, #b5aeb5);
  font-weight: 400;
  line-height: 24px;
}

.genreLabel {
  font-family: Inter, sans-serif;
}

.genreImage {
  width: 51px;
  aspect-ratio: 3.03;
}

.message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

