.heading {
  color: #fff;
  margin-top: 24px;
  font: 700 36px/122% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
.subheading {
  color: #b5aeb5;
  text-align: center;
  margin-top: 12px;
  font: 500 16px/112.5% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}